/* id là #
clas là . */
#products_grid {
  width: 100% !important;
}
#products_grid_before {
  display: none !important;
}
.oe_product {
  height: 300px !important;
}
.oe_product_image {
  min-width: 240px !important;
}

.o_wsale_product_sub {
  justify-content: start !important;
}
.overlay-box {
  height: 40% !important;
}

.o_wsale_filmstip_wrapper {
  display: none !important;
}

.custom_btn{
  background-color: rgb(19, 19, 161) !important;
}

/* .o_portal_address {
  display: none !important;
} */



/* .fa-chevron-circle-left{
  color: rgb(19, 19, 161) !important;
}
.fa {
  color: rgb(19, 19, 161) !important;
} */


/* .dong {
    margin-right: 200px !important;
} */
